:root {
  --font: "Noto Sans", Helvetica, Arial;
  --white: #ffffff;
  --black: #000000;
}

html {
  background-color: var(--white);
  color: var(--black);
  font-family: var(--font);
  font-size: 16px;
  line-height: 1.7;
}

body {
  display: block;
  margin: 10px;
}

.main {
  margin-bottom: 4em;
  margin-left: auto;
  margin-right: auto;
  max-width: 800px;
  padding: 0 1ch;
  word-wrap: break-word;
}

main a {
  border-bottom: 1px solid var(--black);
  text-decoration: none;
  color: inherit;
}

header {
  align-items: baseline;
  display: flex;
  margin: 1em 0;
  flex-wrap: wrap;
  justify-content: space-between;
}

header .logo {
  font-size: 1.2em;
  font-variant: small-caps;
  letter-spacing: 0.05em;
  font-weight: 300;
}

header a {
  color: var(--black);
  border: none;
  text-decoration: none;
}

nav a {
  margin-left: 20px;
}
